.container {
  display: grid;
  grid: auto-flow dense / repeat(auto-fit, 300px);
  grid-gap: 10px;
  justify-content: center;
  justify-items: stretch;
  align-content: center;
  align-items: center;
  width: 95%;
  padding: 6vh 1rem;
  margin: 0 auto;
  min-height: 100vh;
}

@media only screen and (max-width: 480px) {
  .container {
    grid: auto-flow / 1fr;
    justify-items: center;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:visited {
  color: inherit;
}

.input, .textarea {
  font-size: 1.6rem;
  height: 4rem;
  display: block;
  padding: 0 0.5rem;
  border: 1px solid rgb(69, 69, 69);
}

.label {
  font-size: 2rem;
  display: block;
  margin: 1rem 2rem;
}

.whiteBox {
  background-color: #fff;
  box-shadow: 0px 5px 10px -5px black;
  border-radius: 15px;
}

.Heading {
  font-size: 3rem;
  text-align: center;
  padding: 1rem 0;
}

.Loading-exit {
  display: none;
}

.Loading-exit-active {
  display: none;
}

.Button {
  margin: 2rem;
  border: 0;
  padding: 2rem;
  text-align: center;
  display: block;
  font-size: 2.4rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.Button:focus, .Button:active, .Button:hover {
  outline: none;
  cursor: pointer;
  /* box-shadow: 0px 10px 5px -5px black; */
}

.Error {
  background-color: hsl(10, 80%, 40%);
  color: white;
  margin: 0 auto;
  overflow: hidden;
  font-size: 1.5rem;
  padding: 0.5rem;
  transition: all 500ms ease;
}

.page-enter {
  opacity: 0;
  transform: scale(0.9);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1.0);
  transition: opacity 1000ms, transform 300ms;
}

.page-enter-done {
  transition: 200ms linear;
}

/*
  Hiding the component to avoid having it be pushed down under the new Component while its going
  through its exit transition.
*/
.page-exit {
  display: none;
}

.page-exit-active {
  display: none;
}