.DeleteJweetButton button {
  border: 0;
  color: #ccc;
  font-size: 1.8rem;
  background: inherit;
  padding: 0 0.5rem;
  border-radius: 20px;
  transition: all 500ms ease-in-out;
}

.DeleteJweetButton button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}
