.Home-Grid {
  align-items: center;
}

.Button:visited {
  color: white;
}

.Home-RegisterBtn, .Home-LoginBtn {
  border-radius: 20px;
  box-shadow: 0px 5px 5px -3px black;
}

.Home-RegisterBtn {
  background-color: hsl(0, 50%, 50%);
}

.Home-LoginBtn {
  background-color: hsl(240, 50%, 50%);
}

.Home-RegisterBtn:hover, .Home-LoginBtn:hover {
  box-shadow: 0px 10px 5px -5px black;
}

.Home-RegisterBtn:active, .Home-LoginBtn:active {
  transform: translateY(4px);
  box-shadow: none;
}

.Home-RegisterBtn:hover {
  background-color: hsl(0, 50%, 40%);
}

.Home-LoginBtn:hover {
  background-color: hsl(240, 50%, 40%);
}
