.Jweet-Box {
  box-shadow: none;
  border-radius: 0;
}

.Jweet-User {
  width: 100%;
}

.Jweet-User > * {
  display: inline-block;
}

.Jweet-Name {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}

.Jweet-Date {
  padding: 1rem 0;
  color: #dac;
}

.Jweet-TextBox {
  width: 100%;
  padding: 2rem;
}

.Jweet-Text {
  font-size: 2rem;
}

.Jweet-StatHeading {
  font-size: 1.6rem;
  font-weight: 600;
}

.Jweet-StatBox {
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.Jweet-StatBox .Jweet-StatHeading {
  display: inline-block;
  width: 50%;
}

.Jweet-Button {
  border: 0;
  background: transparent;
  font-size: 1.6rem;
  color: inherit;
}

.Jweet-Button:focus,
.Jweet-Button:hover,
.Jweet-Button:active {
  outline: none;
  cursor: pointer;
  color: #dac;
}

.Jweet-Liked, .Jweet-Rejweeted {
  color: #dac;
}

.Jweet-Liked:hover, .Jweet-Rejweeted:hover {
  color: #f00;
}

.Jweet-LikedName,
.Jweet-RejweetedName {
  font-style: italic;
  width: 100%;
  color: black;
  background: rgb(255, 255, 255);
}

.Jweet-Symbol {
  vertical-align: top;
}

.Jweet-ItalicSymbol {
  font-style: italic;
}
