.Jweet-List {
  margin: 0;
  border-top: 1px solid black;
}

.Jweet-User {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.Jweet-LikedUser {
  padding: 1rem;
}

.Jweet-Name {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  width: 50%;
}

.Jweet-Date {
  width: 50%;
  padding: 1rem;
  text-align: right;
  color: #aaa;
}

.Jweet-TextBox {
  width: 100%;
  padding: 2rem;
}

.Jweet-Text {
  font-size: 2rem;
}

.Jweet-StatBox {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
}

.Jweet-Button {
  border: 0;
  background: transparent;
  font-size: 1.6rem;
}

.Jweet-Button:focus {
  outline: none;
}

.Jweet-Button:hover {
  cursor: pointer;
}

.Jweet-LikedName {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  width: 100%;
  font-style: italic;
  color: #333;
}

.Jweet-Rejweeted {
  font-weight: 800;
}

.Jweet-LikedJweet, .Jweet-RejweetedJweet {
  padding: 0 1rem;
  background: #ddd;
}
