.Landing-Grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, max-content);
  justify-items: center;
}

.Landing-Heading, .Landing-Alternative {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  font-size: 5rem;
  width: 50vw;
}

.Landing-Heading {
  align-self: flex-end;
}

.Landing-Alternative {
  font-size: 2.5rem;
  grid-area: 3 / 1 / 4 / 3;
  align-self: flex-start;
}

.Landing-Special {
  animation-name: Rainbow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes Rainbow {
  0% {
    color: red;
  }

  15% {
    color: orange;
  }

  30% {
    color: yellow;
  }

  45% {
    color: green;
  }

  60% {
    color: blue;
  }

  75% {
    color: indigo;
  }

  90% {
    color: violet;
  }

  100% {
    color: red;
  }
}

.Button:visited {
  color: white;
}

.Button.Landing-RegisterBtn, .Button.Landing-LoginBtn {
  border-radius: 20px;
  /* box-shadow: 0px 5px 5px -3px black; */
  border: 2px solid #000;
  padding: 1rem 3rem;
  margin: 0;
  color: #000;
}

.Button.Landing-RegisterBtn:hover, .Button.Landing-LoginBtn:hover,
.Button.Landing-RegisterBtn:active, .Button.Landing-LoginBtn:active,
.Button.Landing-RegisterBtn:focus, .Button.Landing-LoginBtn:focus {
  background-color: #0bf;
}

.Landing-RegisterBtn {
  grid-area: 2 / 1 / 3 / 2;
  justify-self: flex-end;
  /* background-color: hsl(0, 50%, 50%); */
}

.Landing-LoginBtn {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: flex-start;
  /* background-color: hsl(240, 50%, 50%); */
}

@media only screen and (max-width: 400px) {
  .Landing-Grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);
  }

  .Landing-RegisterBtn, .Landing-LoginBtn {
    
  }

  .Landing-LoginBtn {
    grid-area: 2 / 1 / 3 / 1;
    justify-self: center;
  }

  .Landing-RegisterBtn {
    grid-area: 3 / 1 / 4 / 1;
    justify-self: center;
  }

  .Landing-Alternative {
    grid-area: 4 / 1 / 5 / 1;
  }
}