.RegisterInputBar {
  width: 100%;
}

.Register-RegisterBtn {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: hsl(0, 50%, 50%);
  box-shadow: 0px 3px 5px -1px black;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 15px;
}

.Register-RegisterBtn:hover {
  background-color: hsl(0, 50%, 40%);
}