.UserHome-Grid {
  grid-template-columns: auto auto;
  align-content: flex-start;
  align-items: flex-start;
  height: auto;
}

.UserHome-Timeline {
  justify-self: stretch;
}

@media only screen and (max-width: 480px) {
  .UserHome-Grid {
    grid: auto-flow / 1fr;
    justify-items: center;
  }
}