.UserEditProfile-SaveBtn {
  background-color: hsl(250, 50%, 50%);
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  box-shadow: 0px 2px 5px -2px black;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 15px;
}

.UserEditProfile-Avatar-Form {
  width: 100%;
}

.UserEditProfile-Avatar-InputBar {
  display: block;
  margin: 1rem auto;
  padding: 1rem;
}

.UserEditProfile-Avatar {
  margin: 1rem auto;
  display: block;
  width: 10rem;
  height: 10rem;
}

.UserEditProfile-SaveBtn:active {
  box-shadow: none;
}

.UserEditProfile-InputBar {
  width: 100%;
}

.UserEditProfile-TextArea {
  height: auto;
  width: 100%;
}