.UserCard-Box {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: repeat(6, max-content);
}

.UserCard-Avatar {
  grid-area: 1 / 2 / 3 / 4;
  width: 10rem;
  height: 10rem;
  display: block;
  /* padding: 1rem; */
  margin: auto;
  border: 2px solid #000;
  background-color: #fff;
  align-self: center;
  transform: scale(1);
  z-index: 1;
}

.UserCard-Info {
  grid-area: 2 / 1 / 6 / 5;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* box-shadow: 0px 3px 3px -1px #ebb; */
  /* background: #fee; */
  color: #000;
  display: flex;
  flex-flow: column wrap;
  border: 2px solid #000;
}

.UserCard-Box-enter {
  opacity: 0;
}

.UserCard-Box-enter-active {
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.UserCard-Name {
  grid-area: 3 / 1 / 4 / 5;
  font-size: 1.2rem;
  overflow: hidden;
  color: #000;
  text-align: center;
  margin: 1rem;
}

.UserCard-Bio {
  grid-area: 4 / 1 / 5 / 5;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  max-width: 500px;
  word-wrap: break-word;
  margin: 1rem auto;
}

.UserCard-Button {
  grid-area: 5 / 1 / 6 / 3;
  font-weight: 800;
  font-size: 1.6rem;
  padding: 1rem;
  margin: auto;
  text-align: center;
  height: min-content;
  width: 75%;
  color: #000;
  border-radius: 20px;
  box-shadow: none;
  border: 2px solid #000;
}

.UserCard-ButtonFollow {
  background: #fff;
}

.UserCard-ButtonFollow:hover, .UserCard-ButtonFollow:focus, .UserCard-ButtonFollow:active {
  background: #000;
  color: #fff;
}

.UserCard-ButtonFollowing {
  background: #000;
  color: #fff;
}

.UserCard-ButtonFollowing:hover {
  background: red;
  color: white;
  border: 1px solid red;
}

.UserCard-Stat {
  color: #000;
}

.UserCard-StatHeading {
  width: auto;
  font-size: 1.4rem;
  padding: 2rem;
  justify-self: center;
  grid-area: 5 / 3 / 6 / 5;
}

.UserCard-Edit:hover {
  background-color: black;
  color: white;
}